
QWidget { background-color: #000000; color: #FFFF00; }
QLabel { background-color: transparent; }

#sidebar { background-color: #000000; border-right-color: #FFFF00; }
#marca_sidebar, #subtitulo_sidebar, #titulo_menu { color: #FFFF00; }
#menu_btn, #ajuda_btn { background-color: #000000; color: #FFFF00; }
#menu_btn:hover, #menu_btn:checked, #ajuda_btn:hover, #ajuda_btn:checked {
    background-color: #FFFF00;
    color: #000000;
}
#menu_btn:focus, #ajuda_btn:focus { border-color: #FFFFFF; }
#divisor_sidebar { background-color: #FFFF00; }

#pagina_comandos { background-color: #000000; }
#rotulo_pagina, #titulo_pagina, #subtitulo_pagina,
#titulo_card_comando, #descricao_card_comando, #exemplo_comando {
    color: #FFFF00;
}
#card_comando { background-color: #000000; border-color: #FFFF00; }
#icone_comando { background-color: #FFFF00; color: #000000; }

#login_card { background-color: #000000; border-color: #FFFF00; }
QLineEdit { background-color: #000000; color: #FFFF00; border-color: #FFFF00; }

#btn_entrar { background-color: #FFFF00; color: #000000; }
#btn_entrar:hover { background-color: #D4D400; }

#subtitulo_login { color: #FFFF00; }
#logo_login { color: #FFFF00; }
